{% extends '::backend.html.twig' %}

{% block title %}Server List{% endblock %}

{% block content -%}

    <div style="margin-bottom: 10px;">
    	<a href="{{ path('server_new') }}" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#new" > New Server</a>
    	<!-- Modal New -->
		<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
    </div>
    
   
   <div class="row">
   		<div class="col-md-11">
		    <table class="table table-striped jumbotron">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>Name</th>
		                <th>Domain</th>
		                <th>Path</th>
		                <th>User</th>
		                <th>Password</th>
		                <th>Port</th>
		                <th>Type</th>
		                <th>Subtype</th>
		                <th>Environment</th>
		                <th>Status</th>
		                <th style="text-align: right;">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('server_show', { 'id': entity.id }) }}" data-toggle="modal" data-target="#show_{{ entity.id }}">{{ entity.id }}</a></td>
		                <td><a href="{{ entity.url}}" target="_blank">{{ entity.name}}</a></td>
		                <td>{{ entity.domain }}</td>
		                <td>{{ entity.path }}</td>
		                <td>{{ entity.user}}</td>
		                <td>{{ entity.password}}</td>
		                <td>{{ entity.port}}</td>
		                <td>{{ entity.type}}</td>
		                <td>{{ entity.subtype}}</td>
		                <td>
		                	{{ entity.environment}}
		                </td>
		                <td>{{ entity.status}}</td>
		                <td style="text-align: right;"><a href="#" class="pop-right fa fa-ellipsis-h fa-2x" 
		                		data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
		                		data-content='
		                					<a href="{{ path('server_show', { 'id': entity.id }) }}" class="fa fa-eye" data-toggle="modal" data-target="#show_{{ entity.id }}"></a><br />
		                					<a href="{{ path('server_edit', { 'id': entity.id }) }}" class="fa fa-edit" data-toggle="modal" data-target="#edit_{{ entity.id }}"></a><br />
		                					<a href="{{ path('server_remove', { 'id': entity.id }) }}" class="fa fa-trash-o" data-toggle="modal" data-target="#delete_{{ entity.id }}"></a><br />'>
		                	</a>
		                </td>
		            </tr>
		            
		            <!-- Modal Show -->
					<div class="modal fade" id="show_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
					<!-- Modal Edit -->
					<div class="modal fade" id="edit_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
					<!-- Modal Edit -->
					<div class="modal fade" id="delete_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
		<div class="col-md-1"></div>
	 </div>
    
    {% endblock %}
