<!DOCTYPE html>
<html>
    <head>
    	<meta content="width=device-width, initial-scale=1" name="viewport">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | 121 IT Management System</title>
        
		{% block stylesheets %}{% endblock %}
        {# bootstrap css#}
        <link href="{{ asset('bundles/jquery/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        {# bootstrap datepicker#}
        <link href="{{ asset('bundles/jquery/css/bootstrap-datetimepicker.css') }}" type="text/css" rel="stylesheet">
        {# fonts awesome css#}
        <link href="{{ asset('bundles/jquery/font-awesome-4.2.0/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
        {# common css#}
        <link href="{{ asset('bundles/backend/css/common.css') }}"	rel="stylesheet" type="text/css" />
        
        {# favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}{% endblock %}
			{# jquery Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery-2.1.1.min.js') }}" ></script>
    		{# bootstrap Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/bootstrap.js') }}"></script>
    		{# bootstrap datepicker Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/moment.js') }}"></script>
    		<script type="text/javascript" src="{{ asset('bundles/jquery/js/bootstrap-datetimepicker.js') }}"></script>
    		
    		{# common Lib #}
    		<script type="text/javascript" src="{{ asset('bundles/backend/js/common.js') }}" ></script>
		
		
    </head>
    <body>	
    		<div class="wrap">
				<div class="container-fluid">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% include '::includes/menu.html.twig' %}
					{% endif %}
					
		    		{% block body %}{% endblock %}
		    		
		    		{% include '::includes/messages.html.twig' %}
					
		    	</div>
		    </div>
	    <footer class="footer">
	    	<div class="container">
    			&copy; {{ 'now' | date('Y') }} - 121 It
    		</div>
		</footer>
    </body>
</html>
    