{% extends '::dashboard.html.twig' %}

{% block title %}Call Log{% endblock %}

{% block content -%}

    <div style="margin-bottom: 10px;">
    	<!-- Modal New -->
		<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
    </div>
    
   
   <div class="row pagination">
       <div class="col-md-12">
           <div class="row">
               <div class="col-md-10">
                   {# display navigation #}
                   <div class="navigation">
                       {{ knp_pagination_render(entities) }}
                   </div>
               </div>
               <div class="col-md-2">
                   {# total items count #}
                   <div class="count pull-right">
                       {{ entities.getTotalItemCount ~ " Calls" }}
                   </div>
               </div>
           </div>
       </div>
   		<div class="col-md-12">
		    <table class="table table-striped jumbotron">
		        <thead>
					<tr>
						<th colspan="3" style="border-right: 1px solid #DDDDDD; text-align: center">Call</th>
						<th colspan="3" style="border-right: 1px solid #DDDDDD; text-align: center">Time</th>
						<th colspan="3" style="border-right: 1px solid #DDDDDD; text-align: center">Call From</th>
						<th colspan="4" style="border-right: 1px solid #DDDDDD; text-align: center">Call To</th>
						<th colspan="1" style="text-align: center">File</th>
					</tr>
		            <tr>
						<th {% if entities.isSorted('a.inbound') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'I/O', 'a.inbound') }}</th>
						<th style="text-align: center" {% if entities.isSorted('a.callId') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.callId') }}</th>
						<th style="border-right: 1px solid #DDDDDD; text-align: center" {% if entities.isSorted('a.callDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Date', 'a.callDate') }}</th>
		                <th title="Duration" {% if entities.isSorted('a.duration') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'D', 'a.duration') }}</th>
						<th title="Ring Time" {% if entities.isSorted('a.ringTime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'RT', 'a.ringTime') }}</th>
						<th title="Total Time" style="border-right: 1px solid #DDDDDD">TT</th>
		                <th {% if entities.isSorted('a.callFrom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Tlf', 'a.callFrom') }}</th>
						<th {% if entities.isSorted('a.nameFrom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Name', 'a.nameFrom') }}</th>
						<th style="border-right: 1px solid #DDDDDD" {% if entities.isSorted('a.refFrom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Ref', 'a.refFrom') }}</th>
		                <th {% if entities.isSorted('a.callTo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Tlf', 'a.callTo') }}</th>
						<th {% if entities.isSorted('a.callToExt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Ext', 'a.callToExt') }}</th>
						<th {% if entities.isSorted('a.nameTo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Name', 'a.nameTo') }}</th>
						<th style="border-right: 1px solid #DDDDDD" {% if entities.isSorted('a.refTo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Ref', 'a.refTo') }}</th>
		                <th style="text-align: center">Name</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for entity in entities %}
		            <tr>
						<td style="vertical-align: middle">
							{{ (entity.inbound)?"<span class='glyphicon glyphicon-arrow-up' style='color:green'></span>":"<span class='glyphicon glyphicon-arrow-down' style='color:red'></span>" }}
							{{ entity.file.unit}}
							<span style="font-size: 9px; font-weight: bold">
								{{ (entity.inbound)?"Inbound":"Outbound" }}
							</span>
						</td>
						<td style="vertical-align: middle; font-size: 12px;">
							{{ entity.callId }}
						</td>
						<td style="vertical-align: middle; font-size: 12px; border-right: 1px solid #DDDDDD">
							{{ entity.callDate|date('d/m/Y H:i:s') }}
						</td>
						<td style="vertical-align: middle">
							{{ entity.duration|date('U') }}
						</td>
						<td style="vertical-align: middle">
							{{ entity.ringTime }}
						</td>
						<td style="vertical-align: middle; text-align: right; font-weight: bold; border-right: 1px solid #DDDDDD">
							{{ entity.duration | date_modify("+"~entity.ringTime~" seconds")|date("U") }}
						</td>
						<td style="vertical-align: middle; font-weight: bold;">
							{{ entity.callFrom}}
						</td>
						<td style="vertical-align: middle; font-size: 12px">
							{{ entity.nameFrom}}
						</td>
						<td style="vertical-align: middle; font-size: 12px; border-right: 1px solid #DDDDDD">
							{{ entity.refFrom}}
						</td>
						<td style="vertical-align: middle; font-weight: bold;">
							{{ entity.callTo}}
						</td>
						<td style="vertical-align: middle; font-weight: bold;">
							{{ (entity.callToExt)?entity.callToExt:"-" }}
						</td>
						<td style="vertical-align: middle; font-size: 12px;">
							{{ entity.nameTo}}
						</td>
						<td style="vertical-align: middle; font-size: 12px; border-right: 1px solid #DDDDDD">
							{{ entity.refTo}}
						</td>
						<td style="vertical-align: middle; font-size: 12px;">
							{{ entity.file}}
						</td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
			<div class="col-md-10">
				{# display navigation #}
				<div class="navigation">
					{{ knp_pagination_render(entities) }}
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	 </div>
    
    {% endblock %}
