{% extends '::backend.html.twig' %}

{% block title %}Project Group List{% endblock %}

{% block content -%}

    <div style="margin-bottom: 10px;">
    	<a href="{{ path('project_new') }}" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#new" > New Project</a>
    	<!-- Modal New Project -->
		<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
		
		<a href="{{ path('projectgroup_new') }}" class="btn btn-warning fa fa-plus" data-toggle="modal" data-target="#new_group" > New Group</a>
		<!-- Modal New Group -->
		<div class="modal fade" id="new_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
		
    </div>
    
   
   <div class="row">
   		<div class="col-md-11">
		    <table class="table table-striped jumbotron">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>Name</th>
		                <th>Description</th>
		                <th style="text-align: right;">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('projectgroup_show', { 'id': entity.id }) }}" data-toggle="modal" data-target="#show_{{ entity.id }}">{{ entity.id }}</a></td>
		               	<td>{{ entity.name}}</td>
		               	<td>{{ entity.description}}</td>
		                <td style="text-align: right;"><a href="#" class="pop-right fa fa-ellipsis-h fa-2x" 
		                		data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
		                		data-content='
		                					<a href="{{ path('projectgroup_show', { 'id': entity.id }) }}" class="fa fa-eye" data-toggle="modal" data-target="#show_{{ entity.id }}"></a><br />
		                					<a href="{{ path('projectgroup_edit', { 'id': entity.id }) }}" class="fa fa-edit" data-toggle="modal" data-target="#edit_{{ entity.id }}"></a><br />
		                					<a href="{{ path('projectgroup_remove', { 'id': entity.id }) }}" class="fa fa-trash-o" data-toggle="modal" data-target="#delete_{{ entity.id }}"></a><br />'>
		                	</a>
		                </td>
		            </tr>
		            
		            <!-- Modal Show -->
					<div class="modal fade" id="show_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
					<!-- Modal Edit -->
					<div class="modal fade" id="edit_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
					<!-- Modal Remove -->
					<div class="modal fade" id="delete_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					    </div>
					  </div>
					</div>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
		<div class="col-md-1"></div>
	 </div>
	 
	 {% include 'DashboardBundle:Default:includes/modalViews.html.twig' %}
    
    {% endblock %}
