<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}"><img alt="121CustomerInsight"
                                                                    src="{{ asset('bundles/backend/images/logo.png') }}"
                                                                    width="25px;"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {#/******************************************************************************************************************************/#}
                {#/********************************  DASHBOARDS ************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% set dashboard_menu = ['dashboard_homepage', 'dashboard_data'] %}
                <li class="dropdown {{(app.request.attributes.get('_route') in dashboard_menu)?'active' : '' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{{ (app.request.attributes.get('_route') == 'dashboard_homepage')?'active' : '' }}"><a
                                    href="{{ path('dashboard_homepage') }}">Overview</a></li>
                        <li class="{{ (app.request.attributes.get('_route') == 'dashboard_data')?'active' : '' }}"><a
                                    href="{{ path('dashboard_data') }}">Data Usage</a></li>
                    </ul>
                </li>

                {#/******************************************************************************************************************************/#}
                {#/********************************  PROJECTS ***********************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% if projectsMenu is defined %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for key,groups in projectsMenu %}
                                <li>
                                    <a class="trigger right-caret">{{ key }}</a>
                                    {% if groups | length %}
                                        <ul class="dropdown-menu sub-menu">
                                            {% for keyProject,project in groups %}
                                                <li><a href="{{ path('dashboard_project_show', { 'id': project.id }) }}"
                                                       data-toggle="modal"
                                                       data-target="#show_{{ project.id }}">{{ project.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {#/******************************************************************************************************************************/#}
                {#/********************************  ENVIRONMENTS *******************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% if environmentsMenu is defined %}
                    {% set name = (app.request.attributes.get('_route_params').name is defined) ? app.request.attributes.get('_route_params').name : '' %}
                    <li class="dropdown {{ (app.request.attributes.get('_route') == 'dashboard_environment')?'active' : '' }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Environments<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class=" {{ (name == "")?'active' : '' }}"><a
                                        href="{{ path('dashboard_environment') }}">{{ "All" }}</a></li>
                            {% for environment in environmentsMenu %}
                                <li class=" {{ (name == environment.name)?'active' : '' }}"><a
                                            href="{{ path('dashboard_environment', {'name':environment.name}) }}">{{ environment.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {#/******************************************************************************************************************************/#}
                {#/********************************  MANAGEMENT **********************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% if managementProjectsMenu is defined %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for key,groups in managementProjectsMenu %}
                                <li>
                                    <a class="trigger right-caret">{{ key }}</a>
                                    {% if groups | length %}
                                        <ul class="dropdown-menu sub-menu">
                                            {% for keyProject,project in groups %}
                                                <li><a href="{{ path('dashboard_project_show', { 'id': project.id }) }}"
                                                       data-toggle="modal"
                                                       data-target="#show_{{ project.id }}">{{ project.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {#/******************************************************************************************************************************/#}
                {#/********************************  SERVICES ***********************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% if servicesMenu is defined %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for service in servicesMenu %}
                                <li><a href="{{ path('dashboard_server_show', { 'id': service.id }) }}"
                                       data-toggle="modal"
                                       data-target="#server_show_{{ service.id }}">{{ service.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {#/******************************************************************************************************************************/#}
                {#/********************************  SERVERS ************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://121webhost/munin/121/121Webhost.121/index.html" class="external"
                               data-toggle="modal" data-target="#show_server">121Webhost</a></li>
                        <li><a href="http://121webhost/munin/121/121Development.121/index.html" class="external"
                               data-toggle="modal" data-target="#show_server">121Development</a></li>
                    </ul>
                </li>
                {#/******************************************************************************************************************************/#}
                {#/********************************  NETWORK ************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Network<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="http://10.10.1.13/releases/121it_releases/uploads/121_network_diagram.gif" class="external"
                               data-toggle="modal" data-target="#show_server">121 Network Diagram</a>
                        </li>
                    </ul>
                </li>
                {#/******************************************************************************************************************************/#}
                {#/********************************  LOGS ***************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% set logs_menu = ['call_logs'] %}
                <li class="dropdown {{ (app.request.attributes.get('_route') in logs_menu)?'active' : '' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logs<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class=" {{ (app.request.attributes.get('_route') == 'call_logs')?'active' : '' }}">
                            <a href="{{ path('call_logs') }}">Call Logs</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {#/******************************************************************************************************************************/#}
                {#/********************************  ADMIN **************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    {% set admin_menu = ['server', 'project', 'projectgroup', 'user', 'address_paf', 'address_open'] %}
                    <li class="dropdown {{ (app.request.attributes.get('_route') in admin_menu)?'active' : '' }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            {% set adm_data = ['data'] %}
                            <li class="{{ (app.request.attributes.get('_route') in adm_data)?'active' : '' }}" >
                                <a class="trigger right-caret">{{ "Data" }}</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class=" {{ (app.request.attributes.get('_route') == 'data')?'active' : '' }}">
                                        <a href="{{ path('data') }}"><span class="fa fa-laptop"></span> Data Usage</a>
                                </ul>
                            </li>

                            {% set adm_servers = ['server'] %}
                            <li class="{{ (app.request.attributes.get('_route') in adm_servers)?'active' : '' }}" >
                                <a class="trigger right-caret">{{ "Servers" }}</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class=" {{ (app.request.attributes.get('_route') == 'server')?'active' : '' }}">
                                        <a href="{{ path('server') }}"><span class="fa fa-laptop"></span> Server
                                            List</a>
                                </ul>
                            </li>

                            {% set adm_projects = ['project', 'projectgroup'] %}
                            <li class="{{ (app.request.attributes.get('_route') in adm_projects)?'active' : '' }}" >
                                <a class="trigger right-caret">{{ "Projects" }}</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class=" {{ (app.request.attributes.get('_route') == 'project')?'active' : '' }}">
                                        <a href="{{ path('project') }}"><span class="fa fa-folder"></span> Project List</a>
                                    <li class="divider"></li>
                                    <li class=" {{ (app.request.attributes.get('_route') == 'projectgroup')?'active' : '' }}">
                                        <a href="{{ path('projectgroup') }}"><span class="fa fa-folder-o"></span> Group
                                            List</a>
                                </ul>
                            </li>

                            {% set adm_users = ['user'] %}
                            <li class="{{ (app.request.attributes.get('_route') in adm_users)?'active' : '' }}" >
                                <a class="trigger right-caret">{{ "Users" }}</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class=" {{ (app.request.attributes.get('_route') == 'user')?'active' : '' }}"><a
                                                href="{{ path('user') }}"><span class="fa fa-user"></span> User List</a>
                                </ul>
                            </li>

                            {% set adm_address = ['address_paf', 'address_open'] %}
                            <li class="{{ (app.request.attributes.get('_route') in adm_address)?'active' : '' }}" >
                                <a class="trigger right-caret">{{ "Addresses" }}</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class=" {{ (app.request.attributes.get('_route') == 'address_paf')?'active' : '' }}"><a
                                                href="{{ path('address_paf') }}"><span class="fa fa-institution"></span> PAF</a>
                                    <li class="divider"></li>
                                    <li class=" {{ (app.request.attributes.get('_route') == 'address_open')?'active' : '' }}"><a
                                                href="{{ path('address_open') }}"><span class="fa fa-home"></span> Open Maps</a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {#/******************************************************************************************************************************/#}
                {#/********************************  SHOW/HIDE PANEL ****************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                <li class="side-panel-expand-btn" style="display: none;"><a href="#">
                        <span class="glyphicon glyphicon-dashboard"></span>
                    </a>
                </li>
                <li class="side-panel-collect-btn active"><a href="#">
                        <span class="glyphicon glyphicon-dashboard"></span>
                    </a>
                </li>
                {#/******************************************************************************************************************************/#}
                {#/********************************  PROFILE ************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                <li><a href="#" class="pop-bottom" data-container="body" data-toggle="popover" data-placement="bottom"
                       data-trigger="focus" data-content='{% include '::includes/profileDashboard.html.twig' %}'
                       data-html="true">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
                {#/******************************************************************************************************************************/#}
                {#/********************************  LOGOUT *************************************************************************************/#}
                {#/******************************************************************************************************************************/#}
                <li><a href="#" class="pop-bottom" data-container="body" data-toggle="popover" data-placement="bottom"
                       data-trigger="focus" data-content='{% include '::includes/logout.html.twig' %}' data-html="true">
                        <span class="fa fa-power-off"></span>
                    </a>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>