<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="myModalLabel">{{ address.postcode }}</h4>
</div>
<div class="modal-body">
    <div class="panel-group" id="accordion_{{ address.id }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent='#accordion_{{ address.id }}' href="#collapseOne_{{ address.id }}">
                        Address (PAF)
                    </a>
                </h4>
            </div>
            <div id="collapseOne_{{ address.id }}" class="panel-collapse collapse in">
                <div class="panel-body">
                    {#<table class="table table-striped">#}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <td>{{ address.id }}</td>
                        </tr>
                        <tr>
                            <th>Postcode</th>
                            <td>{{ address.postcode }}</td>
                        </tr>
                        <tr>
                            <th>Address Line 1</th>
                            <td>{{ address.add1 }}</td>
                        </tr>
                        <tr>
                            <th>Address Line 2</th>
                            <td>{{ address.add2 }}</td>
                        </tr>
                        <tr>
                            <th>Address Line 3</th>
                            <td>{{ address.add3 }}</td>
                        </tr>
                        <tr>
                            <th>Address Line 4</th>
                            <td>{{ address.add4 }}</td>
                        </tr>
                        <tr>
                            <th>Locality</th>
                            <td>{{ address.Locality }}</td>
                        </tr>
                        <tr>
                            <th>Town/City</th>
                            <td>{{ address.City }}</td>
                        </tr>
                        <tr>
                            <th>County</th>
                            <td>{{ address.County }}</td>
                        </tr>
                        <tr>
                            <th>Latitude</th>
                            <td>{{ address.Latitude }}</td>
                        </tr>
                        <tr>
                            <th>Longitude</th>
                            <td>{{ address.Longitude}}</td>
                        </tr>
                        <tr>
                            <th>Createddate</th>
                            <td>{{ address.createdDate|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default postcodeIo-panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent='#accordion_{{ address.id }}' href="#collapseTwo_{{ address.id }}">
                        PostcodeIO Details
                    </a>
                    <span class="btn fa fa-refresh fa-1x pointer refresh-postcodeio-btn" data-postcode="{{ address.postcode }}" data-openPostcodeId="{{ address.id }}"></span>
                    <span style="font-size: 10px" class="update-date">
                        {% if address.postcodeIo is not null %}
                            {{ "(Last update: " }}{{ address.postcodeIo.createdDate|date('Y-m-d H:i:s') }}{{ ")" }}
                        {% endif %}
                    </span>
                </h4>
            </div>
            <div id="collapseTwo_{{ address.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-hover postcodeIo-details">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <td>{{ address.postcodeIo.id|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Postcode</th>
                            <td>{{ address.postcodeIo.postcode|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Quality</th>
                            <td>{{ address.postcodeIo.quality|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Eastings</th>
                            <td>{{ address.postcodeIo.eastings|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Northings</th>
                            <td>{{ address.postcodeIo.northings|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ address.postcodeIo.country|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>NHS_HA</th>
                            <td>{{ address.postcodeIo.nhsHa|default('-')  }}</td>
                        </tr>
                        <tr class="success">
                            <th>Latitude</th>
                            <td>{{ address.postcodeIo.latitude|default('-')  }}</td>
                        </tr>
                        <tr class="success">
                            <th>Longitude</th>
                            <td>{{ address.postcodeIo.longitude|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Pariamentary Constituency</th>
                            <td>{{ address.postcodeIo.parliamentaryConstituency|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>European Electoral Region</th>
                            <td>{{ address.postcodeIo.europeanElectoralRegion|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Primary Care Trust</th>
                            <td>{{ address.postcodeIo.primaryCareTrust|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>{{ address.postcodeIo.region|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>LSOA</th>
                            <td>{{ address.postcodeIo.lsoa|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>MSOA</th>
                            <td>{{ address.postcodeIo.msoa|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Incode</th>
                            <td>{{ address.postcodeIo.incode|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Admin District</th>
                            <td>{{ address.postcodeIo.adminDistrict|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Parish</th>
                            <td>{{ address.postcodeIo.parish|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Admin County</th>
                            <td>{{ address.postcodeIo.adminCounty|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Admin Ward</th>
                            <td>{{ address.postcodeIo.adminWard|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>CCG</th>
                            <td>{{ address.postcodeIo.ccg|default('-')  }}</td>
                        </tr>
                        <tr>
                            <th>Nuts</th>
                            <td>{{ address.postcodeIo.nuts|default('-')  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        show.init();
        show.setLoaderUrl("{{ asset('bundles/backend/images/ajax-loader.gif') }}");
    });
</script>