{% extends '::dashboard.html.twig' %}

{% block title %}{{ name ~  " Environment"}}{% endblock %}

{% block content -%}

<h1 class="title">{{ name ~  " Environment"}}</h1>

<div class="row">
   		<div class="col-md-10">
		    <table class="table table-striped jumbotron">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>Project Name</th>
		                <th>Group</th>
		                <th>Server</th>
		                <th>Status</th>
		                <th style="text-align: right;">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for project in projects %}
		            <tr>
		                <td>
		                	<a href="{{ path('dashboard_project_show', { 'id': project.id }) }}" data-toggle="modal" data-target="#show_{{ project.id }}">
				                {% if ((project.server.status.name == 'Ok') and (project.status.name == 'Ok')) %}
					        		<span class="fa fa-circle fa-2x" style="color: green;"></span>
					        	{% elseif ((project.server.status.name == 'Error') or (project.status.name == 'Error')) %}
					        		<span class="fa fa-circle fa-2x" style="color: red;"></span>
					        	{% elseif ((project.server.status.name == 'Warning') or (project.status.name == 'Warning')) %}
					        		<span class="fa fa-circle fa-2x" style="color: #eea236;"></span>
					        	{% elseif (project.status.name == 'In Progress') %}
					        		<img alt="121CustomerInsight" src="{{ asset('bundles/backend/images/ajax-loader.gif') }}" width="25px;">
					        	{% endif %}
					        </a>
				        </td>
		               	<td>
		                	{% if (project.server) %}
		                		<a href="{{ project.server.url}}" target="_blank">{{ project.name}}</a>
		                	{% else %}
		                		{{ project.name}}
		                	{% endif %}
		                </td>
		                <td>{{ project.group }}</td>
		                <td>{{ project.server }}</td>
		                <td>{{ project.server.status }}</td>
		                <td style="text-align: right;"><a href="#" class="pop-right fa fa-ellipsis-h fa-2x" 
		                		data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
		                		data-content='
		                					<a href="{{ path('dashboard_project_show', { 'id': project.id }) }}" class="fa fa-eye" data-toggle="modal" data-target="#show_{{ project.id }}"></a><br />'>
		                	</a>
		                </td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	 </div>
	 
	 {% include 'DashboardBundle:Default:includes/modalViews.html.twig' %}
    
    {% endblock %}
