{% extends '::dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <div class="row">
                    <div class="col-md-3"  style="color: #B0B0B0; margin-left: 15px; margin-bottom: 10px; width: 90%; padding: 5px; border-bottom: 1px solid #B0B0B0;">COMPANY</div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 5px; text-align: center">
                        <a href="http://121customerinsight.co.uk" target="_blank">
                            <span class="pop-right slider fa fa-home fa-3x" style="color:black"></span>
                        </a>
                        <div>121 Website</div>
                    </div>
                    <div class="col-md-3" style="padding: 5px; text-align: center">
                        <a href="http://121webhost/intranet" target="_blank">
                            <span class="pop-right slider fa fa-users fa-3x"  style="color:black"></span>
                        </a>
                        <div>Intranet</div>
                    </div>
                    <div class="col-md-3" style="padding: 5px; text-align: center">
                        <a href="https://login.microsoftonline.com/" target="_blank">
                            <span class="pop-right slider fa fa-inbox fa-3x" style="color:black"></span>
                        </a>
                        <div>Webmail</div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-3"  style="color: #B0B0B0; margin-left: 15px; margin-bottom: 10px; width: 90%; padding: 5px; border-bottom: 1px solid #B0B0B0;">APPS</div>
                </div>
                <div class="row">
                    {% for key,shortcut in shortcutProductionApps %}
                        <div class="col-md-3" style="padding: 5px; text-align: center">
                            <a href="{{ shortcut.url }}" target="_blank">
                                <img src="{{ asset('bundles/backend/images/server/'~shortcut.logo) }}" height="40px">
                            </a>
                            <div>{{ shortcut.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-3"  style="color: #B0B0B0; margin-left: 15px; margin-bottom: 10px; width: 90%; padding: 5px; border-bottom: 1px solid #B0B0B0;">MANAGEMENT</div>
                </div>
                <div class="row">
                    {% for key,shortcut in shortcutManagementApps %}
                        <div class="col-md-3" style="padding: 5px; text-align: center">
                            <a href="{{ shortcut.url }}" target="_blank">
                                <img src="{{ asset('bundles/backend/images/server/'~shortcut.logo) }}" height="40px">
                            </a>
                            <div>{{ shortcut.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="side-panel">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseCallLog">
                                    Today calls
                                </a>
                                <div class="pull-right">
                                    <a href="#" class="fa fa-refresh  fa-1x call-today-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseCallLog" class="panel-collapse collapse in">
                            <div class="panel-body today-calls" style="max-height: 250px; overflow-y:scroll;">
                                <div id="today-calls" style="height:230px; width:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseDeployment">
                                    Deployment (Continuous Integration)
                                </a>

                                <div class="pull-right"><a href="#" class="fa fa-refresh  fa-1x deployment-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseDeployment" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">
                                <table class="table table-hover deployments">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="side-panel">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseCallLog">
                                    Last calls
                                </a>
                                <div class="pull-right">
                                    <a href="#" class="fa fa-refresh  fa-1x call-log-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseCallLog" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">
                                <table class="table table-hover call-logs">
                                    <thead>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Duration</th>
                                        <th>Unit</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseServer">
                                    Servers
                                </a>
                                <div class="pull-right">
                                    <a href="#" class="fa fa-refresh  fa-1x server-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseServer" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">
                                <table class="table table-hover servers">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseUsers">
                                    Current connection
                                </a>
                            </h4>
                        </div>
                        <div id="collapseUsers" class="panel-collapse collapse">
                            <div class="panel-body" style="max-height: 200px; overflow-y:scroll;">
                                <table class="table table-hover">
                                    <tr class="pop-left" data-trigger="hover" data-container="body"
                                        data-toggle="popover" data-placement="bottom" data-content='1hour 32minutes'
                                        data-html="true">
                                        <td><span class="glyphicon glyphicon-user"></span></td>
                                        <td>{{ app.security.getToken().getUser().getUserDetail() }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-xs fa fa-remove fa-1x"></button>
                                        </td>
                                    </tr>
                                    <tr class="pop-left" data-trigger="hover" data-container="body"
                                        data-toggle="popover" data-placement="bottom" data-content='1hour 32minutes'
                                        data-html="true">
                                        <td><span class="glyphicon glyphicon-user"></span></td>
                                        <td>{{ app.security.getToken().getUser().getUserDetail() }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-xs fa fa-remove fa-1x"></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include 'DashboardBundle:Default:includes/modalViews.html.twig' %}

    <script>
        $(document).ready(function () {
            side_panel.setLoaderUrl("{{ asset('bundles/backend/images/ajax-loader.gif') }}");
            side_panel.init();
        });
    </script>

{% endblock %}