{# Projects By Group List #}
{% if managementProjectsMenu is defined %}
    <div>
        <table class="table table-hover">
        	{% for key,groups in managementProjectsMenu %}
        		<th>{{ key }}</th>
        		{% for keyProject,project in groups %}
		        	<tr>
		        		<td><a href="{{ path('dashboard_project_show', { 'id': project.id }) }}" data-toggle="modal" data-target="#show_{{ project.id }}">{{ project.name }}</a></td>
		        		<td>
			            	{% if project.server %}
			            		<a href="{{ project.server.url }}" target="_blank"><span class="fa fa-external-link"></span></a>
			            	{% else %}
			            	{% endif %}
		            	</td>
		            </tr>
				{% endfor %}
        	{% endfor %}
      	</table>
    </div>
{% endif %}