<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="myModalLabel">{{ entity.userDetail }}</h4>
</div>
<div class="modal-body">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>#</th>
				<td>{{ entity.id }}</td>
			</tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.userDetail.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.userDetail.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.UserDetail.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.UserDetail.telephone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entity.UserDetail.mobile }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity.role }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ entity.modifiedBy }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{{ entity.modifiedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
	<a href="{{ path('user_remove', { 'id': entity.id }) }}" class="btn btn-danger pull-left" data-toggle="modal" data-target="#delete_{{ entity.id }}">Delete</a>
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
